body{
    margin: 0;
    background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    grid-gap: 10px;
    
    height: 100vh;
    font-family: sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 1fr 70px;
 
    grid-template-areas: 
    "navbar navbar navbar"
    "bar content sidebar"
    "footer footer footer";
}

a{
    text-decoration: none;
    color: inherit;
}

.nbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;

}

nav{
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: center;
}

.nbar div{
    font-size: 20px;
    margin: 10px;
    font-size: 30px;
}

section{
    display: flex;
}

.nbar{
    grid-area: navbar;
    font-size: 20px;
   
}

.design{
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    background-color: lightgray;
    border-style: solid;
    border-radius: 50px;


}

.outline{
    padding: 0 10px;
    background-color: lightgray;
    border-radius: 25px;
    border-style: solid;
    text-align: left;

}

form{
    width: 1000%;
}

.search{
    grid-area: content;
    display: flex; 
    margin: auto;
    font-size: 25px;
}

input, button{
    padding: 20px;
    margin: auto;
    border-radius: 100px;
    border-style: solid;
    font-size: 25px;

}

input{
    width: 500px;

}


.nbar, footer, main{
    grid-column: span 3;
}

footer{
    grid-area: footer;
}

main{
    font-family: Comic Sans MS, Comic Sans, cursive	;
    grid-area: content;
    height: auto;
    font-size: 100px;
    margin: 300px 0;
    padding: 0;
}


main, footer{
    align-items: center;
    text-align: center;
}

#github{
}